/* =======================================================
   RESET GENERAL
======================================================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#e3cfeb,#864786);
    min-height:100vh;
    color:#222;
}

/* títulos bonitos */
h1,
h2,
h3,
p,
input,
button,
.titulo,
.saludo{
    font-family:'Great Vibes', cursive;
    font-weight:normal;
    font-size:36px;
    line-height:1.5;
    letter-spacing:1px;
    color:#222;
}

/* =======================================================
   HEADER
======================================================= */
.header{
    background:linear-gradient(45deg,#ff3ea5,#ff0080);
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    padding:15px 20px;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.menu{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    align-items:center;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

/* =======================================================
   BOTONES HEADER
======================================================= */
.btn-outline{
    background:transparent;
    border:1px solid white;
    color:white;
    padding:10px 14px;
    border-radius:20px;
    cursor:pointer;
}

.btn-solid{
    background:white;
    border:none;
    color:#ff0080;
    padding:10px 14px;
    border-radius:20px;
    cursor:pointer;
}

/* =======================================================
   TITULOS
======================================================= */
.titulo{
    text-align:center;
    margin:25px 10px;
    font-size:32px;
    font-weight:bold;
}

/* =======================================================
   CONTENEDOR FORMULARIOS
======================================================= */
.container{
    width:95%;
    max-width:450px;
    text-align: center;
    margin:25px auto;
    background:white;
    padding:25px;
    border-radius:22px;
    box-shadow:0 10px 25px rgba(0,0,0,.10);
}

/* =======================================================
   INPUTS
======================================================= */
input,
textarea,
select{
    width:100%;
    padding:14px;
    margin:10px 0;

    border:1px solid #ddd;
    border-radius:14px;

    font-size:15px;
    outline:none;
}

input:focus,
textarea:focus,
select:focus{
    border-color:#ff0080;
}

textarea{
    resize:none;
    min-height:130px;
}

/* =======================================================
   BOTONES GENERALES
======================================================= */
button{
    width:100%;
    padding:14px;
    margin-top:12px;

    border:none;
    border-radius:14px;

    background:linear-gradient(45deg,#ff3ea5,#916783);
    color:white;

    font-size:16px;
    cursor:pointer;
}

button:hover{
    opacity:.92;
}

/* =======================================================
   LINKS
======================================================= */
a{
    color:#ff0080;
    text-decoration:none;
    font-weight:bold;
}

p{
    margin-top:10px;
    line-height:1.5;
}

/* =======================================================
   SERVICIOS.HTML  (CARDS INICIO)
======================================================= */
.contenedor-categorias{
    width:95%;
    max-width:1100px;
    margin:25px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:22px;
}

.card{
    background:white;
    padding:16px;
    border-radius:22px;
    box-shadow:0 8px 18px rgba(15, 15, 15, 0.925);
    text-align:center;
    /* animación suave */
    transition: all .50s ease;

    cursor:pointer;
}
/* efecto hover */
.card:hover{

    /* subir tarjeta */
    transform: translateY(-10px) scale(1.03);

    /* sombra más fuerte */
    box-shadow:0 18px 28px #610b83cb;

}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:18px;
    }
/* zoom imagen */
.card:hover img{
    transform: scale(1.05);
}    

.card h3{
    margin:14px 0;
    font-size:17px;
    min-height:45px;
}

/* =======================================================
   CATEGORIA.HTML (SERVICIOS BONITOS)
======================================================= */
#listaServicios{
    width:95%;
    max-width:550px;
    margin:30px auto;

    display:flex;
    flex-direction:column;
    gap:24px;
}

/* tarjeta individual */
.servicio{
    background:white;
    padding:25px;
    border-radius:22px;
    box-shadow:0 8px 18px rgba(0,0,0,.10);
    text-align:center;
}
.servicio:hover{

    /* subir tarjeta */
    transform: translateY(-10px) scale(1.03);

    /* sombra más fuerte */
    box-shadow:0 18px 28px #610b83cb;

}

/* nombre */
.servicio h3{
    font-size:24px;
    margin-bottom:15px;
    color:#222;
}

/* textos */
.servicio p{
    margin:8px 0;
    font-size:18px;
}

/* primer párrafo = precio */
.servicio p:first-of-type{
    color:#ff0080;
    font-size:22px;
    font-weight:bold;
}

/* botón agendar */
.servicio button{
    margin-top:15px;
}

/* ======================================================
   SOLO PARA MIS CITAS
====================================================== */

.mis-citas-wrap{
    width: 95%;
    max-width: 520px;
    margin: 20px auto 90px auto;
}

.mis-citas-grid{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.mis-cita-card{
    background: white;
    padding: 25px;
    border-radius: 22px;
    box-shadow: 0 8px 18px rgba(0,0,0,.10);
    text-align: center;
}
.mis-cita-card:hover{

    /* subir tarjeta */
    transform: translateY(-10px) scale(1.03);

    /* sombra más fuerte */
    box-shadow:0 18px 28px #610b83cb;

}

.mis-cita-card h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: #222;
}

.mis-cita-card p{
    margin: 10px 0;
    font-size: 17px;
}

.estado-cita{
    color: #ff0080;
    font-weight: bold;
}

/* botón cancelar */
.mis-cita-card button{
    margin-top: 15px;
}

/* móvil */
@media(max-width:480px){

    .mis-citas-wrap{
        width: 94%;
    }

    .mis-cita-card{
        padding: 22px;
    }

    .mis-cita-card h3{
        font-size: 22px;
    }

    .mis-cita-card p{
        font-size: 16px;
    }

}

/* =======================================================
   BOTON VOLVER FLOTANTE
======================================================= */
.btn-volver-float{
    position:fixed;
    right:18px;
    bottom:18px;

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    background:linear-gradient(45deg,#ff3ea5,#68b2dd);
    color:white;

    font-size:22px;
    cursor:pointer;

    z-index:999;
}
/* =======================================================
   BOTON SUBIR FLOTANTE
======================================================= */

.btn-subir-admin{
    position: fixed;
    left: 18px;
    bottom: 18px;

    width: 55px;
    height: 55px;

    border-radius: 50%;
    background:linear-gradient(45deg,#ff3ea5,#68b2dd);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 24px;
    z-index: 999;
}

/* ======================================================
   SOLO PANEL ADMIN
   PEGAR AL FINAL DE TU style.css ACTUAL
====================================================== */

.admin-box{
    width:95%;
    max-width:500px;
    margin:25px auto;
    background:white;
    padding:25px;
    border-radius:22px;
    box-shadow:0 8px 18px rgba(0,0,0,.10);
    text-align:center;
}

.admin-list{
    width:95%;
    max-width:500px;
    margin:20px auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.admin-card{
    background:white;
    padding:25px;
    border-radius:22px;
    box-shadow:0 8px 18px rgba(0,0,0,.10);
    text-align:center;
}

.admin-card h3{
    font-size:24px;
    margin-bottom:12px;
}

.admin-card p{
    margin:8px 0;
    font-size:16px;
}

/* Botones aprobar */
.admin-list.citas .admin-card button:first-of-type{
    background:linear-gradient(45deg,#00b894,#00a86b);
}

/* Botones rechazar */
.admin-list.citas .admin-card button:last-of-type{
    background:linear-gradient(45deg,#ff4d6d,#ff1744);
}


/* Responsive */
@media(max-width:480px){

    .admin-box,
    .admin-list{
        width:94%;
    }

    .admin-card{
        padding:20px;
    }

    .admin-card h3{
        font-size:22px;
    }
}

/* =======================================================
   RESPONSIVE TABLET
======================================================= */
@media(max-width:768px){

    .header{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .menu{
        justify-content:center;
    }

    .titulo{
        font-size:28px;
    }

    .container{
        width:94%;
    }

    .contenedor-categorias{
        grid-template-columns:repeat(2,1fr);
    }

    .card img{
        height:180px;
    }
}

/* =======================================================
   RESPONSIVE CELULAR
======================================================= */
@media(max-width:480px){

    .titulo{
        font-size:24px;
    }

    .logo{
        font-size:20px;
    }

    .menu{
        width:100%;
        flex-direction:column;
    }

    .menu a,
    .menu button{
        width:100%;
        text-align:center;
    }

    .contenedor-categorias{
        grid-template-columns:1fr;
    }

    .card img{
        height:220px;
    }

    .card h3{
        font-size:18px;
    }

    .servicio{
        padding:20px;
    }

    .servicio h3{
        font-size:21px;
    }

    .servicio p{
        font-size:17px;
    }

    .servicio p:first-of-type{
        font-size:20px;
    }

    .btn-volver-float{
        width:52px;
        height:52px;
    }
}